* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.common-header {
    background: #590BFF;
    height: 89px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.common-header__title {
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;
    color: #FFFFFF;
    margin: 10px;
}

.content {
    display: flex;
    font-weight: 500;
    font-size: calc(16/720*100vw);
}

.content-aside {
    color: #000000;
    position: fixed;
    top: 120px;
    left: 35px;
    width: 100%;
}

.content-aside__wrap {
    margin-top: 10px;
}

.content-aside__link {
    text-decoration-line: underline;
    color: #FF710B;
}

.content-list {
    position: relative;
    width: 100%;
    top: 120px;
    margin-left: calc(210/720*100vw);
}

.content-sorting {
    background: #590BFF;
    position: sticky;
    top: 89px;
    width: 100%;
}

.content-letters {
    color: #FFFFFF;
    margin-left: 10px;
}

.content-surnames {
    margin: 20px;
}

